@import "tailwindcss";

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-Italic.ttf);
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-MediumItalic.ttf);
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf);
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

:root {
  --background: #6fcf97;
  --foreground: #171717;
  --header: #aaffc7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --default-font-family: "Poppins";
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  height: 100dvh;
  max-width: 100dvw;
  overflow: hidden;
}
.body {
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
}

.header {
  background: var(--header);
  width: 100%;
  display: flex;
}

.judul h1 {
  font-size: 52px;
  line-height: 40px;
}

.judul-kedua {
  font-size: 17px;
  line-height: 19px;
  gap: 40px;
}

.dekor {
  display: block;
}

.class-dropdown {
  padding: 8px;
}

.table {
  display: block;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: 1px solid #000;
  box-sizing: border-box;
}

.table table {
  width: 100%;
  height: max-content;
  border-collapse: none;
}

th,
tr,
td {
  padding: 0 20px;
  border: 1px solid #000;
}

button {
  font-size: 20px;
}

.font-size {
  font-size: 20px;
}

.teks-tombol {
  display: block;
}
.icon-tombol {
  display: none;
}

@media (width <= 1400px) {
  .table {
    width: 100%;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
  }
  .table table {
    width: 100%;
    height: 100%;
  }
}

@media (width <= 1200px) {
  .table {
    width: 100%;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
  }
  .table table {
    width: max-content;
    height: max-content;
  }
}

@media (width <= 730px) {
  .dekor {
    display: none;
  }
  .header {
    display: flex;
    /* flex-direction: column; */
  }
  .judul h1 {
    line-height: 30px;
    font-size: 40px;
  }
  .judul-kedua {
    padding-left: 73px;
    gap: 6px;
    line-height: 17px;
    font-size: 16.8px;
  }
  .kelas {
    display: none;
  }
}

@media (width <= 530px) {
  .header {
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .judul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .judul h1 {
    line-height: 30px;
    font-size: 38px;
  }
  .judul-kedua {
    padding-left: 71px;
    gap: 6px;
    line-height: 17px;
    font-size: 16px;
  }
  .kelas {
    display: block;
  }
  .drop-down {
    width: 100%;
  }
  .class-dropdown {
    padding: 0;
  }
  .body {
    padding-top: 140px;
  }
  .font-size {
    font-size: 16px;
  }
  .teks-tombol {
    display: none;
  }
  .icon-tombol {
    display: block;
  }
}

@media (width <= 410px) {
  .header {
    display: flex;
    justify-items: center;
    flex-direction: column;
  }
  .judul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .judul h1 {
    line-height: 23px;
    font-size: 33px;
  }
  .judul-kedua {
    padding-left: 62.5px;
    gap: 6px;
    line-height: 17px;
    font-size: 13.84px;
  }
  .kelas {
    display: block;
  }
}
